<div data-elementor-type="wp-page" data-elementor-id="10" class="elementor elementor-10">
  <section class="elementor-section elementor-top-section elementor-element elementor-element-ddeaf7e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="ddeaf7e" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eff8aca" data-id="eff8aca" data-element_type="column">
              <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-43a46ec elementor-widget elementor-widget-ambons_slider_v1" data-id="43a46ec" data-element_type="widget" data-widget_type="ambons_slider_v1.default">
                      <div class="elementor-widget-container">

                          <!-- Start Main Slider -->
                          <section class="main-slider style1" id="banner">
                              <div class="slider-box">
                                  <!-- Banner Carousel -->
                                  <div class="banner-carousel owl-theme owl-carousel">
                                      <!-- Slide 1 -->
                                      <div class="slide">
                                          <div class="image-layer" style="background-image:url(../assets/img/slide1.jpg)"></div>
                                          <div class="auto-container">
                                              <div class="row align-items-center">
                                                  <div class="col-md-6">
                                                      <div class="content">
                                                          <div class="sub-title">
                                                              <h3>Ambulance Paris – Intervention rapide et sécurisée 24h/24</h3>
                                                          </div>
                                                          <div class="big-title">
                                                              <h2>Intervention & Urgences</h2>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- Formulaire unique - placé ici pour l'affichage sur desktop -->
                                                  <div class="col-md-6 form-container">
                                                      <!-- Le formulaire sera inséré ici par JavaScript -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      
                                      <!-- Slide 2 -->
                                      <div class="slide">
                                          <div class="image-layer" style="background-image:url(../assets/img/slide2.jpg)"></div>
                                          <div class="auto-container">
                                              <div class="row align-items-center">
                                                  <div class="col-md-6">
                                                      <div class="content">
                                                          <div class="sub-title">
                                                              <h3>Profitez d'un accompagnement bienveillant, d'un matériel moderne et d'une équipe à l'écoute, pour des trajets en toute sécurité.</h3>
                                                          </div>
                                                          <div class="big-title">
                                                              <h2>Un transport médical humain et professionnel à Paris</h2>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6 form-container">
                                                      <!-- Le formulaire sera inséré ici par JavaScript -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      
                                      <!-- Slide 3 -->
                                      <div class="slide">
                                          <div class="image-layer" style="background-image:url(../assets/img/slide3.jpg)"></div>
                                          <div class="auto-container">
                                              <div class="row align-items-center">
                                                  <div class="col-md-6">
                                                      <div class="content">
                                                          <div class="sub-title">
                                                              <h3>Ambulance Roquette à Paris, votre partenaire santé reconnu, assure vos transports médicaux pris en charge par la Sécurité sociale</h3>
                                                          </div>
                                                          <div class="big-title">
                                                              <h2>Agrément & confiance</h2>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6 form-container">
                                                      <!-- Le formulaire sera inséré ici par JavaScript -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <!-- Formulaire unique fixe pour mobile -->
                              <div class="fixed-form-mobile">
                                  <!-- Le formulaire sera inséré ici par JavaScript -->
                              </div>
                          </section>
                          <!-- End Main Slider -->

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

<script>
  $(document).ready(function(){
      // Créer le formulaire unique
      const formHTML = `
          <div class="pre-reservation">
              <h3>Votre ambulance en quelques clics</h3>
              <form class="form contact_content-form" id="contactForm" method="post"
              action="#">
              <input type="hidden" name="lang" value="fr" />
              <input type="hidden" name="redirectUrl" value="#" />
              <input type="hidden" name="type" value="contact" />
              <input type="hidden" name="website" value="#" />
              <input type="hidden" name="lang" value="fr" />
              <input type="hidden" name="firstName" value="" />
              <input type="hidden" name="key" value="#" />
                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 clabel">
                          <div class="form-group has-feedback ico1">
                              <input type="text" id="name" name="name" style="padding-left: 35px;" class="form-control" placeholder="Nom" required="">
                          </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 clabel">
                          <div class="form-group has-feedback ico2">
                              <input type="tel" id="phone" name="telephone" style="padding-left: 35px;" class="form-control" placeholder="Téléphone" required="">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 clabel">
                          <div class="form-group has-feedback ico3">
                              <input type="email" style="padding-left: 35px;" id="email" name="email" class="form-control" placeholder="E-mail" required="">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <input type="date" name="date-prise-en-charge" class="form-control" placeholder="Date de la prise en charge" required="">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <input type="time" name="heure-prise-en-charge" class="form-control" placeholder="Heure">
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group has-feedback ico4">
                              <textarea name="message" style="padding-left: 35px;" class="form-control h-100" rows="4" placeholder="Message"></textarea>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="checkbox d-flex mb-2">
                              <input name="condition" type="checkbox" style="height:1.5rem; width:1.5rem; vertical-align: middle; margin-right: 1rem;">
                              <span class="contact_content-form--label" style="font-size: 14px; color: #000;">
                                  En utilisant ce formulaire, vous acceptez le stockage et la gestion
                                  de vos données par ce site * <a href="#" data-toggle="modal" class="link" data-target="#modal-rgpd"><i class="fa fa-info-circle"></i></a>
                              </span>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <div id="contact-form-response"></div>
                              <div class="g-recaptcha" data-sitekey="#"></div>
                              <br />
                              <input style="display: none" type="submit" value="Submit" class="wpcf7-wpcf7-submit" />
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <input id="btSubmit" class="form-button form-submit" type="submit" value="Envoyer">
                  </div>
              </form>
          </div>
      `;
      
      // Insérer le formulaire dans tous les conteneurs
      $('.form-container').html(formHTML);
      
      // Initialiser le carousel
      $('.banner-carousel').owlCarousel({
          items: 1,
          loop: true,
          nav: false,
          dots: true,
          autoplay: true,
          autoplayTimeout: 5000,
          animateOut: 'fadeOut',
          responsive: {
              0: {
                  // Sur mobile, nous n'affichons pas le formulaire dans le slider
              },
              992: {
                  // Sur desktop, nous affichons le formulaire dans le slider
              }
          }
      });
      
      // Gérer l'affichage du formulaire selon la taille d'écran
      function handleFormDisplay() {
          if ($(window).width() < 992) {
              // Sur mobile, afficher le formulaire en bas de page
              $('.form-container').hide();
              $('.fixed-form-mobile').html(formHTML).show();
          } else {
              // Sur desktop, afficher le formulaire dans le slider
              $('.form-container').show();
              $('.fixed-form-mobile').hide();
          }
      }
      
      // Appeler la fonction au chargement et au redimensionnement
      handleFormDisplay();
      $(window).resize(handleFormDisplay);
      
      // Gérer la soumission du formulaire
      $('#contactForm').on('submit', function(e) {
          e.preventDefault();
          alert('Formulaire soumis avec succès! Nous vous contacterons bientôt.');
          // Ici, vous ajouteriez normalement le code pour envoyer le formulaire
      });
  });
</script>